*{
   
   
    margin: 0px;
    padding: 0;

}
.carousel-inner img {
    height: 500px; /* Adjust the height as needed */
    object-fit: cover;
  }

  .carousel {
    width: 95%; /* Adjust the width as needed */
    margin-bottom: 150px;
    margin-top:80px;
    margin-left: 30px ;

  }

  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
     background:none;/* Optional: for a semi-transparent background */
      color: white;
      background-color: transparent; 
      padding: 10px;
      width: 100%;
      text-decoration: none;
      display: inline;
  }